:root {
  --primary: #e54683;
  --on-primary: #ffffff;
  --background: #f9fafb;
  --on-background: #111827;
  --surface: #ffffff;
  --on-surface: #111827;
}

#app {
  display: grid;
  margin-inline: auto;
  max-width: 800px;
  min-height: 100vh;

  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto;
  grid-template-areas:
    "header"
    "main"
    "footer"
    "nav";
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

ul {
  list-style: disc;
  list-style-position: inside;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

h3 {
  font-size: 1.25rem;
  font-weight: 800;
}

.btn {
  display: block;
  width: 100%;
  padding: 0.5em 1em;
  background-color: var(--primary);
  color: var(--on-primary);
  text-decoration: none;
  border-radius: 99px;
}